* {box-sizing: border-box;}

body { 
  font-family:  Helvetica, sans-serif, Arial;
  margin: 0;   
  /* background: linear-gradient(90deg,#6e99e6 ,#093c94);
  color: white; */
  color: #093c94;
  font-weight: bold;
}


table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border: 1px solid #ddd;
}

th, td {
  text-align: left;
  padding: 8px;
}

tr:first-of-type {
 background-color: lightgray;
}

tr:not(:first-child):hover{
  background-color: skyblue !important;
  cursor:pointer;
}

tr:nth-child(even){background-color: #f2f2f2}

.container{
  padding: 1rem;

}

.container h1{
  text-align: center;
}

.container h4{
  text-align: center;
}
.editCol{
  min-width: 50rem;
}

.sqlAttack{
  width: 70%;
}